@import "./utils/varaybles";
@import "./base/reset";
@import "./pages/index";
@import "./layout/basket";
@import "./layout/details-play";
@import "./layout/fovorit";
@import "./layout/moviessss";
@import "./layout/login";