* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
}

:root {
  --main-color: #ffb43a;
  --hover-color: hsl(37, 94%, 57%);
  --body-color: #1e1e2a;
  --container-color: #2d2e37;
  --text-color: #fcfeff;
}
html::-webkit-scrollbar {
  width: 0.5rem;
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--main-color);
}
::selection {
  background: var(--main-color);
  color: var(--text-color);
}
body {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--body-color);
    z-index: 100;
    .nav {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 0;
      .logo {
        font-size: 1.4rem;
        color: var(--text-color);
        font-weight: 600;
        text-transform: uppercase;
        margin: 0 auto 0 0;
        span {
          color: var(--main-color);
        }
      }
      .search-box {
        max-width: 240px;
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 0.7rem;
        padding: 8px 15px;
        background: var(--container-color);
        border-radius: 4rem;
        margin-right: 1rem;
        .bx {
          font-size: 1.1rem;
          :hover {
            color: var(--main-color);
          }
        }
        #search-input {
          width: 100%;
          border: none;
          outline: none;
          color: var(--text-color);
          background: transparent;
          font-size: 0.938rem;
        }
      }
      .user {
        display: flex;
        .user-img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          object-position: center;
        }
      }
      .navbar {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        left: 18px;
        display: flex;
        flex-direction: column;
        row-gap: 2.1rem;
        .nav-link {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: #b7b7b7;
          :hover,
          .nav-active {
            color: var(--text-color);
            transition: 0.3s all linear;
            transform: scale(1.1);
          }
          .bx {
            font-size: 1.6rem;
          }
          .nav-link-title {
            font-size: 0.7rem;
          }
        }
      }
    }
  }

  .home {
    position: relative;
    min-height: 470px;
    display: flex;
    align-items: center;
    margin-top: 5rem !important;
    border-radius: 0.5rem;
    .home-img {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      object-fit: cover;
      border-radius: 0.5rem;
    }
    .home-text {
      padding-left: 40px;
      .home-title {
        font-size: 2rem;
        font-weight: 600;
      }
      p {
        font-size: 0.938rem;
        margin: 10px 0 20px;
        color: var(--main-color);
      }
      .watch-btn {
        display: flex;
        align-items: center;
        column-gap: 0.8rem;
        color: var(--text-color);
        .bx {
          font-size: 21px;
          background: var(--main-color);
          height: 40px;
          width: 40px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          :hover {
            background: var(--hover-color);
          }
        }
        span {
          font-size: 1rem;
          font-weight: 400;
        }
      }
    }
  }

  .contayner {
    max-width: 1068px;
    margin: auto;
    width: 100%;
    margin-top: 60px;
    height: 100vh;
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      display: flex;
      justify-content: center;
      width: 100%;
      background: var(--container-color);
      color: white;
      font-size: 55px;
      margin-top: 30px;
    }
    .swiper {
      width: 100%;
      padding-top: 50px;
      height: 100%;
      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 250px;

        img {
          display: block;
          width: 100%;
          -webkit-box-reflect: below 1px
            linear-gradient(transparent, transparent, #0002, #0004);
        }
        .box-movie-text {
          position: absolute;
          bottom: 130px;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: 6px;
          justify-content: flex-end;
          padding: 14px;
          background: linear-gradient(
            8deg,
            hsl(240 17% 14% / 74%) 14%,
            hsl(240 17% 14% / 14%) 44%
          );
          overflow: hidden;
          .Box-movie-title {
            font-size: 1.1rem;
            font-weight: 500;
          }
          .s-movie-type {
            font-size: 0.938rem;
          }
          .watch-btn {
            display: flex;
            align-items: center;
            column-gap: 0.8rem;
            color: var(--text-color);
            .bx {
              font-size: 21px;
              background: var(--main-color);
              height: 40px;
              width: 40px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              :hover {
                background: var(--hover-color);
              }
            }
          }
        }
      }
    }
  }
  .movies {
    .heading {
      // padding: 10px 14px;
      display: flex;
      justify-content: center;
      width: 100%;
      background: var(--container-color);
      color: white;
      font-size: 36.66px;
      margin-top: 30px;
    }
    .movies-content {
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
      gap: 1.5rem;
      .movie-box {
        position: relative;
        .movies-box-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          & :hover {
            transform: scale(1.1);
            transition: 0.5s;
          }
        }
        .box-movie-text {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: 6px;
          justify-content: flex-end;
          padding: 14px;
          background: linear-gradient(
            8deg,
            hsl(240 17% 14% / 74%) 14%,
            hsl(240 17% 14% / 14%) 44%
          );

          .Box-movie-title {
            font-size: 1.1rem;
            font-weight: 500;
          }
          .s-movie-type {
            font-size: 0.938rem;
          }
          .watch-btn {
            display: flex;
            align-items: center;
            column-gap: 0.8rem;
            color: var(--text-color);
            .bx {
              font-size: 21px;
              background: var(--main-color);
              height: 40px;
              width: 40px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              :hover {
                background: var(--hover-color);
              }
            }
          }
        }
      }
    }
  }

  // next pages start

  .next-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;

    .next-btn {
      background: var(--main-color);
      padding: 12px 20px;
      color: var(--text-color);
      font-weight: 500;
    }
    .next-btn :hover {
      background: var(--hover-color);
      transition: 0.3s all linear;
    }
  }
  .copyright {
    text-align: center;
    padding: 20px;
  }
  @media (max-width: 1210px) {
    header {
      .nav {
        .navbar {
          bottom: 0;
          left: 0;
          right: 0;
          top: auto;
          transform: translateY(0);
          flex-direction: row;
          justify-content: space-evenly;
          row-gap: 1px;
          padding: 10px;
          border-top: 1px solid hsl(200, 100%, 99% / 5%);
          background: linear-gradient(
            8deg,
            hsl(240 17% 14% / 100%) 5%,
            hsl(240 17% 14% / 90%) 100%
          );
          .nav-link {
            .bx {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
    .copyright {
      margin-bottom: 4rem;
    }
  }
  @media (max-width: 1100px) {
    .container {
      margin: 0 auto;
      width: 95%;
    }
    .contayner {
      margin: 0 auto;
      width: 95%;
    }
  }
  @media (max-width: 1100px) {
    .movies-content {
      grid-template-columns: repeat(auto-fit, minmax(214px, 1fr));
      .movie-box {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
    }
  }
  @media (max-width: 880px) {
    header {
      .nav {
        padding: 20px;
      }
      .home {
        min-height: 470px;
        margin-top: 5rem !important;
        .home-text {
          padding-left: 25px;
          .home-title {
             font-size: 1.6rem;
             .watch-btn {
              span {
                font-size: 0.9rem;
              }
             }
          }
        }
      }
    }
  }
}
