body {
  height: 300vh;

  .navbar {
    background-color: black;
    height: 60px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    .navbar-wrapper {
      height: 100%;
      padding: 0 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo-wrapper {
        .logo {
          color: red;
          font-size: 30px;
        }
      }
      .menu-container {
        .menu-list {
          display: flex;
          list-style: none;
          column-gap: 30px;
          padding: 0;
          .active {
            font-weight: bold;
          }
          .menu-list-item {
            cursor: pointer;
            &:hover {
              color: white;
              font-weight: 700;
            }
          }
        }
      }
      .profile-container {
        display: flex;
        align-items: center;
        column-gap: 20px;
        .profil-pictures {
          width: 32px;
          height: 32px;
          object-fit: cover;
          border-radius: 50%;
        }
        .profile-text-container {
          display: flex;
          align-items: center;
          column-gap: 5px;
          line-height: 1px;
          // .profile-text {}
        }
        .toggle {
          width: 40px;
          height: 20px;
          border-radius: 30px;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-around;
          background-color: white;
          .toggle-icon {
            color: goldenrod;
          }
          .toggle-top {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            position: absolute;
            right: 1px;
            background-color: black;
          }
        }
      }
    }
  }
  // nav bar son

  // sidebar start
  .sidebar {
    background-color: black;
    color: white;
    height: 100%;
    width: 50px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    row-gap: 40px;
    i {
      color: white;
      font-size: 20px;
      cursor: pointer;
    }
  }
  // sidebar son

  .container {
    margin-left: 50px;
    margin-top: 60px;
    height: 100vh;
    background-color: #01000c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      color: white;
      font-size: 55px;
      margin-top: 30px;
  }
  .swiper {
      width: 90%;
      padding-top: 50px;
      height: 100%;
      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 250px;

        img {
          display: block;
          width: 100%;
          -webkit-box-reflect: below 1px linear-gradient(transparent , transparent , #0002 , #0004);
        }
      }
    }
  }
}
